// letters types
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:wght@600&family=Roboto:wght@100&display=swap');

$ff-1: 'Bebas Neue', cursive;
$ff-2: 'Nunito', sans-serif;
$ff-3: 'Roboto', sans-serif;

// colours palette

$color-1: #add5f7;
$color-2: #2b25252b;
$color-3: #60676c;
$color-4: #ffffff;


